<table>
  {{#each itemTypes}}
  <tr>
    <td>
      <button class="importItems" data-type='{{this}}'>
        <i class="fas fa-save"></i>Import <b>{{localize this}}s</b></button>
    </td>
  </tr>
  {{/each}}
  <tr>
    <td>
      <hr>
    </td>
  </tr>
  <tr>
    <td>
      <button class="importCreatures" data-type='Creature'>
        <i class="fas fa-save"></i>Import <b>Creatures</b></button>
    </td>
  </tr>
  {{!-- <tr>
    <td>
      <hr>
    </td>
  </tr>
  <tr>
    <td>
      <button class="updateItemsMoneySystem">
        <i class="fas fa-save"></i>Update <b>Items Money System</b></button>
    </td>
  </tr> --}}
</table>


