    <tr>
        <th>
            {{localize "size"}}
        </th>
        <td>
            <a class="property-choices-edit edit" data-parameters='size;system.size;choices.items.sizes;1'
                title='{{localize "edit"}}'>
                {{ localize system.size }} <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>